.center-avatar {
    margin: auto;
}
  
.validation-message {
    color: rgb(73, 13, 13);
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}
ion-button {
    --background: #084853;  
  }
